.portfolio-view {
  .card {
    //@include no-radius;
    background-color: $color3;
  }

  .btn {
    @include boxShadow($color1);

    &:focus {
      box-shadow: none;
    }

    &.btn-primary {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .portfolio-list {

    .fixed-width {
      display: inline-block;
      width: 80%;
    }

    .fundTitle {
      display: block;
      width: 140px;
      overflow: hidden;
      white-space: nowrap;
      --offset: 0vw;
      --move-initial: calc(var(--offset));
      --move-final: calc(-50% + var(--offset));

      span {
        position: relative;
        transform: translate3d(var(--move-initial), 0, 0);
        display: flex;
        animation-name: long-text;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
        animation-play-state: paused;
      }

      &:hover {
        span {
          animation-play-state: running;
        }
      }
    }

    tbody {
      td {
        vertical-align: middle;
      }
    }

    tfoot {
      h6 {
        font-weight: 700;
      }
    }
  }


  @keyframes long-text {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }

  // second design
  .portfolio-header {
    background: $color2;
    font-size: 1.2rem;
  }
  .portfolio-item {
    text-align: center;

    .long-title {
      text-overflow: ellipsis;
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    hr {
      margin: .5rem 0 .5rem 0;
    }

    p {
      margin: 0;
    }
  }

  // tab section
  .tab-section {
    background: $color2;
    .nav-link {
      padding: 20px;
      cursor: pointer;
    }
  }
}