.portfolio-view {

  .portfolio-list {

    .fixed-width {
      display: inline-block;
      width: 80%;
    }

    .fundTitle {
      display: block;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody {
      td {
        vertical-align: middle;
      }
    }

  }


  // second design
  .portfolio-header {
    background: $color2;
    font-size: 1.2rem;
  }
  .portfolio-item {
    text-align: center;

    .long-title {
      text-overflow: ellipsis;
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    hr {
      margin: .5rem 0 .5rem 0;
    }

    p {
      margin: 0;
    }
  }

  // tab section
  .tab-section {
    background: $color2;
    .nav-link {
      padding: 20px;
      cursor: pointer;
    }
  }
}