
$bg1: #485563;
$bg2: #29323C;

$white: #fff;
$text: #131d34;

$color1: #424249;
$color2: #E0DAD5;
$color3: #EDEBE8;
$color4: #FF5E2C;
$color5: #b3b2c4;


$color-1: #1C1D24;
$color-2: #EA2340;
$color-3: #F5EEE6;

// new colors
$gray-bg: #e3dde2;

// 2021 March

// ======================================================
// Body
// ======================================================
$main-body-bg: #fff !default;
$body-bg: #eef5f9;
$body-color: #3e5569 !default;


$themecolor: #2962ff;
$themecolor-dark: #028ee1;
$themecolor-alt: #26c6da;
$theme-light: #fff;
$theme-dark: #212529;

$skin1: #2962ff;
$skin2: #fe5419;
$skin3: #00b0ff;
$skin4: #6659f7;
$skin5: #414755;
$skin6: #fff;

$shadow: 0 2px 8px 0 hsla(0, 0%, 0%, 0.1); // 1px 0px 20px rgba(0, 0, 0, 0.08);
$transitions: 0.2s ease-in;
$transparent-dark-bg: rgba(0, 0, 0, 0.03);
$lft: left;
$rgt: right;
$card-alt: #e4e9ef;
